@model OnlineInternshipPortal.Models.Data.ViewModel.UserRoleViewModel
@{
    ViewData["Title"] = "Admins";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>List of Employer users</h1>
<br />

<table id="tblEmployer" class="table table-borderless table-striped table-earning">
    <thead>
        <tr>
            <th>Employer name</th>
            <th>Contact number</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>

</table>

@section Scripts {

    <script src="~/js/tablesjs/EmployerUsersList.js"></script>

}