<div class="alert alert-danger">
    <h2>An error has occured due to the factors below.</h2>
    <ul type="square">
        <li>Check your email address correctly.</li>
        <li>Passwords should contain one non-alphanumeric character.</li>
        <li>Passwords should be at least 6 characters long.</li>
        <li>Passwords should contain at least one uppercase letter (A-Z).</li>
        <li>Passwords should contain at least one lowercase letter (a-z).</li>
        <li>Passwords should contain at least one symbol (&amp;,&gt; &lt;  &alpha; &beta; ~!#$%^*? etc).</li>
    </ul>
</div>
<br />