@model OnlineInternshipPortal.Models.Data.ViewModel.SchoolViewModel

@{
    ViewData["Title"] = "EditSchool";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Change the school</h1>

<hr />
<div class="alert alert-info">
    School/Edit school
</div>

<div class="card au-card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <form asp-action="EditSchool">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SchoolId" />
                    <div class="form-group">
                        <label asp-for="SchoolName" class="control-label"></label>
                        <input asp-for="SchoolName" class="form-control" />
                        <span asp-validation-for="SchoolName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><span class="fa fa-save"> </span> Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


